html,
body {
    height: 100%;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: "\e151";
}

a.desc:after {
    content: "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view td {
    white-space: nowrap;
}

.grid-view .filters input,
.grid-view .filters select {
    min-width: 50px;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav > li > form {
    padding: 8px;
}

@media(max-width:768px) {
	.nav li > form {
	    padding: 3px;
	}
}

.nav > li > form > button:hover {
    text-decoration: none;
}

.search {
    position: absolute;
    top: 300px;
    left: 50%;
    margin-left: -411px;
    background-color: #FFF;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 0 15px 0 #242424;
}
.search .location-icon, .search .form-control, .search .search-icon {
    float: left;
}
.location-icon, .search-icon {
    height: 52px;
}
.location-icon {
    background: url("../images/code-icon.png") no-repeat scroll 10px 7px transparent;
    width: 46px;
    border-left: 1px solid rgb(224, 224, 224);
}
.search .form-control.location {
    border-radius: 0;
}
.search .form-control {
    float: left;
    height: 52px;
    width: 300px;
    border: 0;
    font-size: 18px;
    color: #c1c0c0;
    box-shadow: none;
    padding-left: 0;
}
.search-icon {
    background: url("../images/search-icon.png") no-repeat scroll 10px 7px transparent;
    width: 56px;
}
.search-button {
    height: 52px;
    width: 127px;
    float: left;
    background-color: #ee9c0c;
    color: #303234;
    font-size: 18px;
    border: 0;
    border-radius: 0;
}
.glyphicon {
    font-size: 20px;
    margin-right: 5px;
}